<!-- Main container for presentation and project write-up -->
<section class="hero">
    <!-- Section: Presentation Header and Video -->
    <section>
        <!-- Page heading -->
        <h2>Photo Gallery</h2>
        <section>
            <!-- Gallery Heading -->
            <h3 id="project-photos">Project Photos</h3>
            <!-- Image Viewer with Navigation Buttons -->
            <div class="stepper-wrapper">
                <img id="stepper-img" src="../images/placeholder.png" height="800"
                     width="1200"/> alt="Connecticut River Placeholder"
                style="width: 80%;"/>
                <div class="button-row">
                    <button class="stepper-button" onclick="prevPhoto()">Previous</button>
                    <button class="stepper-button" onclick="nextPhoto()">Next</button>
                </div>
            </div>
            <!-- Instructions -->
            <p>Click the buttons to cycle through the images.</p>
            <p>Click the image to view it in full size.</p>
        </section>
    </section>
</section>