<section class="hero">
    <section>
        <h2>Welcome</h2>
        <p>“Our River: Picking Up the Story” is a multimedia documentary project and the launch point for a long-term
            mission: to complete the unfinished work of my father’s film about the Connecticut River. Through personal
            storytelling, original photography, and a short video, this project reintroduces the river’s cultural,
            historical, and ecological importance—while inviting others to help carry the story forward. This site marks
            the beginning of that journey.</p>
    </section>
</section>
