<section class="hero">
    <section>
        <h2>Media</h2>

        <h3 id="project-video">Video</h3>
        <div class="video-wrapper">
            <video controls width="80%" height="auto">
                <source src="/video/placeholder-video.mp4" type="video/mp4"/>
                Your browser does not support the video tag.
            </video>
        </div>


        <h3 id="photos">Photos</h3>
        <div id="photo-stepper" class="stepper-wrapper">
            <img id="stepper-img" src="/images/placeholder1.png" alt="Connecticut River landscape placeholder"
                 style="width: 80%;"/>
            <div class="button-row">
                <button class="stepper-button" onclick="prevPhoto()">Previous</button>
                <button class="stepper-button" onclick="nextPhoto()">Next</button>
            </div>
        </div>

    </section>
</section>
